
@media screen and (max-width: 399px){
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(30, 28, 28);
    color: white;
}
h1.Header {
    font-size: 3em;
    color: rgb(15, 207, 12);
}
h1.menu {
    color: rgba(150, 6, 150, 0.767);
}
h2 {
    font-size: 1.5 em;
}
h3 {
    font-size: 1em;
}
p.item {
    font-size: 1em;
    font-weight: bolder;
}
p.description1 {
    font-size: 1em;
    font-weight: bolder;
}
p.description {
    font-size: .75em;
}
}

@media screen and (min-width: 400px){
    * {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        background-color: rgb(30, 28, 28);
        color: white;
    }
    h1.Header {
       
        font-size: 3em;
        color: rgb(15, 207, 12);

    }
    h1.menu {
        color: rgba(150, 6, 150, 0.767);

    }
    h2 {
        font-size: 1.5 em;
    }
    h3 {
        font-size: 1.5em;
    }
    p.item {
        font-size: 1em;
        font-weight: bolder;
    }
    p.description1 {
        font-size: 1em;
        font-weight: bolder;
    }
    p.description {
        font-size: .75em;
    }
}

@media screen and (min-width: 800px){
    * {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        background-color: rgb(30, 28, 28);
        color: white;
    }
    h1.Header {
       
        font-size: 3em;
        color: rgb(15, 207, 12);
    }
    h1.menu {
        color: rgba(150, 6, 150, 0.767);
    }
    h2 {
        font-size: 1.5 em;
    }
    h3 {
        font-size: 1.5em;
    }
    p.item {
        font-size: 1em;
        font-weight: bolder;
    }
    p.description1 {
        font-size: 1em;
        font-weight: bolder;
    }
    p.description {
        font-size: .75em;
    }
    
}